@import "../../../../../../stylesheets/globals";

div[id="adminpage"] {
  height: 80em;
}

section[id="admin"] {
  display: flex;
  height: 4vw;
  position: initial;
  padding-bottom: 3em;

  div[id="buttonGroup"] {

    .flex-child-element {
      flex: 1;
      height: 5vw;
    }
    .flex-child-element:first-child {
      margin-right: 1vw;
    }
  }
}

section[id="companyEntities"] {
  height: 100%;
  border: 2px solid lavenderblush;
  position: relative;
  overflow: scroll;

  div[id="textfield"] {
  }

  .flex-parent-element {
    width: 100%;
    display: flex;
  }

  .flex-child-element {
    flex: 1;
    margin: 10px;
  }

  .flex-child-element:first-child {
    margin-right: 1vw;
  }
}

img[id="companyimage"]{
  opacity: 0.1;
  height: 150px;
  width: 150px;
}

section[id="companyDetails"] {
  @include shadow;
  width: 85%;
  height: 40vw;
  border: 2px solid $light-blue;
  border-bottom-color: darken($light-blue, 40%);
  border-right-color: darken($light-blue, 40%);
  margin: 1em;
  padding: 0;
  flex-basis: 100%;
  position: relative;
  overflow-y: auto;

  div[id="companyValues"] {
    height: 6vw;
  }

  body {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;}
  table {
    width: 100%;
    height: 400px;
    display: block;
    overflow: auto;
  }
  th, td {
    padding: 7px 10px 10px 10px;}
  th {
    background-color: cornflowerblue;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;}
  tr.even {
    background-color: ghostwhite}
  tr.odd {
    background-color: lightgray;}
  tr.hover {
    background-color: #c3e6e5;}
  .lineitem {
    text-align: center;
    color: darkblue;
    font-weight: bold;
  }
  .fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 100px;
  }

  .fixed_header thead tr {
    display: block;
  }

  .fixed_header thead {
    background: black;
    color:#fff;
  }
}

@media all and (max-width: $break-xs) {
  div[id=owner-report] {
    .lineitem {
      line-height: 1em;
    }
  }
}

@media all and (max-width: $break-sm) {
  div[id=owner-report] {
    .lineitem {
      line-height: .5em;
    }
  }
  section[id="companyEntities"] {
    overflow: scroll;
  }
}

@media all and (max-width: $break-md) {
  section[id="companyEntities"] {
    display: inline-grid;
  }
}