//@import "../../../../../../stylesheets/globals";

div[id="videos-list"] {
  margin: 0px auto;
  text-align: left;
}

@media screen and (min-width: $break-xs) and (max-width: $break_sm) {
  div[id="videos-list"] {
    width: 300px;
  }
}

@media screen and (min-width: $break-sm) and (max-width: 560px) {
  div[id="videos-list"] {
    width: 520px;
  }
}

@media screen and (min-width: 560px) and (max-width: $break_md) {
  div[id="videos-list"] {
    width: 600px;
  }
}