// @import "../../../../../../stylesheets/globals";

div[id="searchLine"] {
  overflow: scroll;
}

div[id="resultLine"] {
  overflow: scroll;
  max-height: 10em;
}

div[id="videos"] {
  width: 780px;
  list-style-type: none;
  display: inline-grid;
  position: relative;
  background-color: black;
  color: white;
  font-family: Merriweather;

  table[id='videos']{
    width: 775px;
  }

  button[id="watch"] {
    background-color: #49852e;
    box-shadow: none;
    border: none;
    color: #fff;
    outline: 0
  }
}

div[id="video-date"] {
  padding-top: 0;
}

div[id="video-image"] {
  height: 18em;
  background-color: black;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

div[id="video-place"] {
  width: 780px;
  max-height: 10em;
  overflow: scroll;
}

div[id="video-title"] {
  font-size: 16px;
}

body {
  font-family: Arial, Verdana, sans-serif;
  color: #111111;}

th {
  background-color: cornflowerblue;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
  padding: 7px 10px 10px 10px;}
td.date {
  width: 200px;
  font-weight: normal;
  text-align: center;
}
td.title {
  width: 300px;
  font-weight: bolder;
  text-align: center;
}
tr.even {
  background-color: grey;
  color: black;
}
tr.odd {
  background-color: lightgray;
  color: #292828;
}
tr.hover {
  background-color: #c3e6e5;}
.lineitem {
  text-align: center;
  color: darkblue;
  font-weight: bold;

  @media screen and (min-width: $break-sm) {
    flex-basis: calc(50% - 2em - 4px);

    div[id="video-place"] {
      width: 300px;
    }
  }

  @media screen and (min-width: $break-md) {
    flex-basis: calc(33.33333% - 2em - 4px);

    div[id="video-place"] {
      width: 480px;
    }

  }

  @media screen and (min-width: $break-lg) {
    flex-basis: calc(25% - 2em - 4px);

    div[id="video-place"] {
      width: 780px;
    }

  }

  @media screen and (min-width: $break-xl) {
    flex-basis: calc(16.66666% - 2em - 4px);
  }
}

@media screen and (min-width: 0px) and (max-width: $break_sm) {
  div[id="video-date"] {
    padding-top: 0;
  }
  div[id="video-place"] {
    width: 300px;
    margin: 0;
  }
  div[id="video-title"] {
    font-size: 10px;
  }
  article[id="blogtext"] {
    margin: 0;
    padding-left: .5em;
    padding-right: .5em;
    position: relative;
    font-size: initial;
    width: 19em;
    height: 32em;
    overflow: scroll;
  }
  td.date {
    max-width: 0px;
    color: transparent;
  }
  td.title {
    max-width: 75px;
    line-height: 14px;
  }
  td.uploaded {
    width: 50px;
  }
  td.video-data {
    width: 50px;
    img {
      width: 100px;
    }
  }
  div[id="videos"] {
    width: 300px;
    font-size: 14px;

    table[id='videos']{
      width: 300px;
      font-size: 10px;
    }
    button[id='watch']{
      width: 40px;
    }
  }
  div[id="video-image"] {
    height: 10em;
  }
}

@media screen and (min-width: $break-sm) and (max-width: 560px) {
  div[id="video-place"] {
    width: 500px;
    margin: 0;
  }
  td.date {
    max-width: 50px;
  }
  td.title {
    max-width: 70px;
    line-height: 14px;
  }
  td.uploaded {
    width: 75px;
  }
  td.video-data {
    width: 75px;
    img {
      width: 150px;
    }
  }
  div[id="videos"] {

    table[id='videos']{
      width: 485px;
      font-size: 12px;
    }
    button[id='watch']{
      width: 60px;
    }
  }
  div[id="searchLine"] {
    height: 15vw;
  }
}

@media screen and (min-width: 560px) and (max-width: $break-md) {
  div[id="video-place"] {
    width: 500px;
    margin: 0;
  }
  td.date {
    max-width: 50px;
  }
  td.title {
    max-width: 70px;
    line-height: 14px;
  }
  td.uploaded {
    width: 75px;
  }
  td.video-data {
    width: 75px;
    img {
      width: 150px;
    }
  }
  div[id="videos"] {
    width: 400px;

    table[id='videos']{
      width: 460px;
      font-size: 12px;
    }
    button[id='watch']{
      width: 60px;
    }
  }
  div[id="searchLine"] {
    height: 11vw;
  }
}